.card {
  @include flex(flex-start, center);
  flex-direction: column;
  height: 100%;
  padding: 0;
  position: relative;
  overflow: hidden;

  &-collections {
    padding: 15px;
    overflow: visible;
    background-color: $color-reverse;
    transition-duration: 0.2s;

    &:hover {
      box-shadow: 0 0 38px rgba(190, 176, 150, 0.73);
      transform: scale(1.05);
    }
  }

  &-features {
    @include flex(flex-start, stretch);
    flex-direction: row;
    @include spacing(8px);
    height: auto;
    margin-bottom: 25px;
  }

  &-features-bottom {
    height: auto;
  }

  &-header {
    position: relative;
    
    .card-collections &, .card-designers &, .card-blog & {
      width: 100%;
    }
  }

  &-media {
    margin: 0;

    .card-collections & {
      margin: 0 auto;
      margin-bottom: 20px;

      @media screen and (min-width: 640px) {
        margin-bottom: 26px;
      }
    }
  }

  &-body {
    flex-grow: 1;
    width: 100%;

    .card-blog & {
      padding: 15px 10px;
    }
  }

  &-footer {
    width: 100%;
  }
  
  &-background {
    margin: 0;
    width: 100%;
  }

  &-cover {
    @include overlay(2, transparent, 1);
    padding: 13px 15px;

    &-label {
      position: relative;
      height: 100%;
    }

    .card-projects & {
      @include flex(center, center);
      flex-direction: column;
      height: 100%;

      & > * {
        width: 100%;
      }
    }

    @media screen and (min-width: 480px) {
      padding-left: 20px;
      padding-top: 18px;
    }
  }
  
  &-foreground {
    @include overlay(2, transparent, 1);
    @include flex(center, center);
    display: none;
  }

  &-label {
    position: absolute;
    width: 50px;
    top: 0;
    left: 0;
    margin: 0;

    &-text {
      color: $color-reverse;
      @include font(12px, 600, 1);
      text-transform: uppercase;
      transform: rotate(-45deg);
      margin: 0;
      margin-top: 6px;
      margin-left: 3px;
    }
  }

  .icons-section {
    @include flex(center, center);
    padding: 0;
  }
  
  &-overlay {
    @include overlay(1, $color-secondary, 0.5);
    display: none;
    margin: 0;

    .card-projects & {
      @include overlay(1, $color-overlay, 0.4);
      @include flex(center, center);
    }
  }
  
  &-title {
    margin: 0;
    @include font(14px, 600, 22px);
    color: $color-main;
    text-transform: uppercase;
    text-align: center;
    overflow-wrap: break-word;
    letter-spacing: 2px;

    &-reverse {
      color: $color-reverse;
    }

    @media screen and (min-width: 480px) {
      & {
        @include font(17px, 600, 26px);
      }
    }

    @media screen and (min-width: 640px) {
      & {
        @include font(18px, 600, 28px);
      }
    }

    @media screen and (min-width: 960px) {
      & {
        @include font(18px, 600, 28px);
      }
    }

    .section-reverse & {
      color: $color-reverse;
    }

    .card-features & {
      color: $color-secondary;
      text-align: left;

      @media screen and (min-width: 960px) {
        margin-bottom: 26px;
      }
    }

    .card-features-bottom & {
      text-align: left;
      max-width: 40vw;
      @include font(12px, 600, 18px);
      margin-bottom: 8px;
      letter-spacing: 1.5px;

      @media screen and (min-width: 640px) {
        max-width: 15vw;
        letter-spacing: 3px;
      }
    }

    .card-collections & {
      text-align: left;
      letter-spacing: 0.5px;
      margin-bottom: 10px;

      @media screen and (min-width: 640px) {
        margin-bottom: 20px;
      }
    }

    .card-designers & {
      text-transform: none;
      @include flex(flex-start, center);
      margin-top: 12px;

      &:after {
        display: inline-block;
        vertical-align: middle;
        content: '';
        flex-grow: 1;
        height: 1px;
        margin-left: 8px;
        background-color: $color-secondary;

        @media screen and (min-width: 640px) {
          height: 2px;
        }

        @media screen and (min-width: 960px) {
          height: 3px;
        }
      }
    }

    .card-projects & {
      text-align: left;
      flex-grow: 1;
    }

    .card-blog & {
      text-align: left;
      margin-bottom: 10px;
    }
  }

  &-description {
    text-align: center;
    color: $color-main;
    
    .section-reverse & {
      color: $color-reverse;
    }

    .card-features & {
      margin-top: 12px;
      text-align: left;
      @include font(12px, 400, 22px);
    }

    .card-features-bottom & {
      @include font(11px, 400, 22px);
      text-transform: uppercase;
      text-decoration: none;
    }

    .card-collections & {
      @include font(12px, 400, 18px);
      text-align: left;
      margin: 0;
      margin-bottom: 20px;
      color: $color-additional;

      @media screen and (min-width: 640px) {
        margin-bottom: 28px;
      }
    }

    .card-projects & {
      position: absolute;
      bottom: 0;
      color: $color-reverse;
      text-align: left;
      text-transform: uppercase;
      transform: rotate(-90deg) translate(-13px, 100%);;
      transform-origin: bottom left;
      @include font(12px, 400, 16px);
      letter-spacing: 6px;
      margin-bottom: 20px;
      width: max-content;
    }

    .card-blog & {
      color: $color-additional;
      text-align: left;
      @include font(14px, 400, 20px);
      margin: 0;
    }
  }

  &-price {
    margin: 0;
    @include font(18px, 600, 26px);
  }

  & .fancybox-thumbnail {
    display: none;
  }

  &:hover {
    .card-overlay, .card-foreground {
      @include flex(center, center);
    }

    &.card-projects .card-overlay {
      display: none;
    }
  }

  .color-green {
    color: $color-green;
  }
  
  .color-blue {
    color: $color-blue;
  }

  .buttons-wrap {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 18px;
    @include flex(center, stretch);
    @include spacing(5px);
  }
}