.footer {
  padding-top: 30px;
  padding-bottom: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  @media screen and (min-width: 960px) {
    padding-top: 75px;
    padding-bottom: 50px;
  }

  &-wrap {
    height: 100%;
    @include flex(center, center);
    flex-direction: column;
  }

  &-header {
    width: 100%;
    padding-left: 20px;
    border-left: 2px solid $color-secondary;
    flex-grow: 1;
    margin-bottom: 40px;

    @media screen and (min-width: 960px) {
      margin-bottom: 60px;
    }
  }

  &-body {
    width: 100%;
    flex-grow: 1;
    margin-bottom: 25px;

    .logo {
      @include flex(left, center);
  
      &-name-wrap {
        margin: 0;
        padding: 0;
        max-width: 200px;
        @include flex(center, center);
        margin-bottom: 25px;

        @media screen and (min-width: 960px) {
          width: 100%;
          max-width: 100%;
          margin-bottom: 35px;
        }
      }
    }
  }

  &-title {
    color: $color-secondary;
    text-transform: uppercase;
    margin-bottom: 10px;
    @include font(14px, 600, 20px);
    letter-spacing: 2px;

    @media screen and (min-width: 960px) {
      @include font(25px, 600, 35px);
      margin-bottom: 20px;
    }
  }

  &-subtitle {
    color: $color-reverse;
    margin-bottom: 10px;
    @include font(14px, 400, 20px);
    margin-bottom: 10px;

    @media screen and (min-width: 960px) {
      @include font(30px, 400, 40px);
      margin-bottom: 20px;
    }
  }

  ul.contact-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    list-style-position: outside;

    li {
      margin-bottom: 3px;
      word-break: break-word;
    }
  }

  .contact-list-item {
    color: $color-reverse;
    @include font(12px, 400, 18px);

    @media screen and (min-width: 960px) {
      @include font(14px, 400, 24px);
    }
  }

  .contact-link {
    color: $color-reverse;
    text-decoration: none;
    @include font(12px, 400, 18px);

    @media screen and (min-width: 960px) {
      @include font(14px, 400, 24px);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  ul.footer-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    list-style-position: outside;

    .footer-list-item {
      color: $color-additional-light;
      @include font(12px, 400, 18px);
      margin-bottom: 3px;

      @media screen and (min-width: 960px) {
        @include font(14px, 400, 24px);
      }
    }
  }

  &-p {
    color: $color-additional-light;
    @include font(12px, 400, 18px);
    margin: 0;

    @media screen and (min-width: 960px) {
      @include font(14px, 400, 24px);
    }
  }

  .col-top .grid, .col-bottom .grid {
    height: 100%;
  }
}
  