.footer {
  padding-top: 30px;
  padding-bottom: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  &-wrap {
    height: 100%;
    @include flex(center, center);
    flex-direction: column;
  }

  &-header {
    width: 100%;
    padding-left: 20px;
    border-left: 2px solid $color-secondary;
    flex-grow: 1;
    margin-bottom: 40px;
  }

  &-body {
    width: 100%;
    flex-grow: 1;
    margin-bottom: 25px;

    .logo {
      @include flex(left, center);
  
      &-name-wrap {
        margin: 0;
        padding: 0;
        max-width: 200px;
        @include flex(center, center);
        margin-bottom: 25px;
      }
    }
  }

  &-title {
    color: $color-secondary;
    text-transform: uppercase;
    margin-bottom: 10px;
    @include font(14px, 400, 20px);
    letter-spacing: 2px;
  }

  &-subtitle {
    color: $color-reverse;
    margin-bottom: 10px;
    @include font(14px, 400, 20px);
  }

  ul.contact-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    list-style-position: outside;

    li {
      margin-bottom: 3px;
    }
  }

  .contact-list-item {
    color: $color-reverse;
    @include font(12px, 400, 18px);
  }

  .contact-link {
    color: $color-reverse;
    text-decoration: none;
    @include font(12px, 400, 18px);

    &:hover {
      text-decoration: underline;
    }
  }

  ul.footer-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    list-style-position: outside;

    .footer-list-item {
      color: $color-additional-light;
      @include font(12px, 400, 18px);
      margin-bottom: 3px;
    }
  }

  &-p {
    color: $color-additional-light;
    @include font(12px, 400, 18px);
    margin: 0;
  }

  .col-top .grid, .col-bottom .grid {
    height: 100%;
  }
}
  