.swiper-slide {
  height: auto;

  &-wrap {
    @include flex(center, center);
    height: 100%;
  }
}

.swiper-title {
  @include font(18px, 400, 29px);
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: center;
  color: $color-main;
}

.slide-overlay {
  @include overlay(1, $color-overlay, 0.7)
}

.resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  border-radius: 5px;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.slide-body {
  background: $color-reverse;
  color: $color-main;
  box-shadow: 0px 4px 28px rgba(6, 6, 90, 0.06);
  border-radius: 10px;
  padding: 30px 20px;
  @include font(14px, 400, 22px);
  text-align: center;
}