$f-family-main: 'Poppins', sans-serif;
$f-size-main: 16px;
$f-weight-main: 400;
$f-weight-bold: 700;
$f-lheight-main: 20px;

$color-main: black;
$color-reverse: white;
$color-secondary: #ffce76;
$color-additional: #6d6d6d;
$color-additional-light: lighten(#6d6d6d, 20%);
$color-bg-dark: #252524;
$color-overlay: rgb(24, 24, 23);
$color-green: #749d26;
$color-blue: #599ba7;
$color-bg-blue: #f9fafc;
$color-border-dark: #181817;
$color-border-light: white; 