<section id="section-2" class="section section-collections">
  <div class="container">
    <header class="section-header">
      <h2 class="section-title">Our collection</h2>
      <div class="section-title-border">
        <hr class="section-hr">
        <div class="section-square">&#9670;</div>
        <hr class="section-hr">
      </div>
    </header>
    <main class="section-body">
      <div class="grid">
        <div class="col col-12 col-6s col-3m">
          <div class="card card-collections">
            <header class="card-header">
              <figure class="card-media col-6">
                <div class="img-wrap ratio-8-9">
                  <div class="img-content">
                    <img class="img img-down" src="images/collection/1.png" alt="not found">
                  </div>
                </div>
              </figure>
            </header>
            <main class="card-body">
              <h2 class="card-title">
                Corona Chair
              </h2>
              <p class="card-description">
                Lorem ipsum dolor sit amet consectetur
              </p>
            </main>
            <footer class="card-footer">
              <p class="card-price">&#36;14.86</p>
            </footer>
            <div class="card-foreground">
              <div class="buttons-wrap">
                <a class="header-button" href="#search">
                  <figure class="header-icon">
                    <img class="img" src="images/icons/search.svg" alt="not found">
                  </figure>
                </a>
                <a class="header-button like-button" href="#like">
                  <figure class="header-icon">
                    <img class="img display-toggle" src="images/icons/heart.svg" alt="not found">
                    <img class="img display-toggle invisible" src="images/icons/heart-red.svg" alt="not found">
                  </figure>
                </a>
                <a class="header-button" href="#cart">
                  <figure class="header-icon">
                    <img class="img" src="images/icons/cart.svg" alt="not found">
                  </figure>
                </a>
              </div>
            </div>
            <div class="card-overlay"></div>
            //= corner-label.html
          </div>
        </div>
        <div class="col col-12 col-6s col-3m">
          <div class="card card-collections">
            <header class="card-header">
              <figure class="card-media col-6">
                <div class="img-wrap ratio-8-9">
                  <div class="img-content">
                    <img class="img img-down" src="images/collection/2.png" alt="not found">
                  </div>
                </div>
              </figure>
            </header>
            <main class="card-body">
              <h2 class="card-title">
                Corona Chair
              </h2>
              <p class="card-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </main>
            <footer class="card-footer">
              <p class="card-price">&#36;14.86</p>
            </footer>
            <div class="card-foreground">
              <div class="buttons-wrap">
                <a class="header-button" href="#search">
                  <figure class="header-icon">
                    <img class="img" src="images/icons/search.svg" alt="not found">
                  </figure>
                </a>
                <a class="header-button like-button" href="#like">
                  <figure class="header-icon">
                    <img class="img display-toggle" src="images/icons/heart.svg" alt="not found">
                    <img class="img display-toggle invisible" src="images/icons/heart-red.svg" alt="not found">
                  </figure>
                </a>
                <a class="header-button" href="#cart">
                  <figure class="header-icon">
                    <img class="img" src="images/icons/cart.svg" alt="not found">
                  </figure>
                </a>
              </div>
            </div>
            <div class="card-overlay"></div>
          </div>
        </div>
        <div class="col col-12 col-6s col-3m">
          <div class="card card-collections">
            <header class="card-header">
              <figure class="card-media col-6">
                <div class="img-wrap ratio-8-9">
                  <div class="img-content">
                    <img class="img img-down" src="images/collection/3.png" alt="not found">
                  </div>
                </div>
              </figure>
            </header>
            <main class="card-body">
              <h2 class="card-title">
                Corona Chair
              </h2>
              <p class="card-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </main>
            <footer class="card-footer">
              <p class="card-price">&#36;14.86</p>
            </footer>
            <div class="card-foreground">
              <div class="buttons-wrap">
                <a class="header-button" href="#search">
                  <figure class="header-icon">
                    <img class="img" src="images/icons/search.svg" alt="not found">
                  </figure>
                </a>
                <a class="header-button like-button" href="#like">
                  <figure class="header-icon">
                    <img class="img display-toggle" src="images/icons/heart.svg" alt="not found">
                    <img class="img display-toggle invisible" src="images/icons/heart-red.svg" alt="not found">
                  </figure>
                </a>
                <a class="header-button" href="#cart">
                  <figure class="header-icon">
                    <img class="img" src="images/icons/cart.svg" alt="not found">
                  </figure>
                </a>
              </div>
            </div>
            <div class="card-overlay"></div>
            //= corner-label.html
          </div>
        </div>
        <div class="col col-12 col-6s col-3m">
          <div class="card card-collections">
            <header class="card-header">
              <figure class="card-media col-6">
                <div class="img-wrap ratio-8-9">
                  <div class="img-content">
                    <img class="img img-down" src="images/collection/4.png" alt="not found">
                  </div>
                </div>
              </figure>
            </header>
            <main class="card-body">
              <h2 class="card-title">
                Corona Chair
              </h2>
              <p class="card-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </main>
            <footer class="card-footer">
              <p class="card-price">&#36;14.86</p>
            </footer>
            <div class="card-foreground">
              <div class="buttons-wrap">
                <a class="header-button" href="#search">
                  <figure class="header-icon">
                    <img class="img" src="images/icons/search.svg" alt="not found">
                  </figure>
                </a>
                <a class="header-button like-button" href="#like">
                  <figure class="header-icon">
                    <img class="img display-toggle" src="images/icons/heart.svg" alt="not found">
                    <img class="img display-toggle invisible" src="images/icons/heart-red.svg" alt="not found">
                  </figure>
                </a>
                <a class="header-button" href="#cart">
                  <figure class="header-icon">
                    <img class="img" src="images/icons/cart.svg" alt="not found">
                  </figure>
                </a>
              </div>
            </div>
            <div class="card-overlay"></div>
          </div>
        </div>
        <div class="col col-12 col-6s col-3m">
          <div class="card card-collections">
            <header class="card-header">
              <figure class="card-media col-6">
                <div class="img-wrap ratio-8-9">
                  <div class="img-content">
                    <img class="img img-down" src="images/collection/5.png" alt="not found">
                  </div>
                </div>
              </figure>
            </header>
            <main class="card-body">
              <h2 class="card-title">
                Corona Chair
              </h2>
              <p class="card-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </main>
            <footer class="card-footer">
              <p class="card-price">&#36;14.86</p>
            </footer>
            <div class="card-foreground">
              <div class="buttons-wrap">
                <a class="header-button" href="#search">
                  <figure class="header-icon">
                    <img class="img" src="images/icons/search.svg" alt="not found">
                  </figure>
                </a>
                <a class="header-button like-button" href="#like">
                  <figure class="header-icon">
                    <img class="img display-toggle" src="images/icons/heart.svg" alt="not found">
                    <img class="img display-toggle invisible" src="images/icons/heart-red.svg" alt="not found">
                  </figure>
                </a>
                <a class="header-button" href="#cart">
                  <figure class="header-icon">
                    <img class="img" src="images/icons/cart.svg" alt="not found">
                  </figure>
                </a>
              </div>
            </div>
            <div class="card-overlay"></div>
          </div>
        </div>
        <div class="col col-12 col-6s col-3m">
          <div class="card card-collections">
            <header class="card-header">
              <figure class="card-media col-6">
                <div class="img-wrap ratio-8-9">
                  <div class="img-content">
                    <img class="img img-down" src="images/collection/6.png" alt="not found">
                  </div>
                </div>
              </figure>
            </header>
            <main class="card-body">
              <h2 class="card-title">
                Corona Chair
              </h2>
              <p class="card-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </main>
            <footer class="card-footer">
              <p class="card-price">&#36;14.86</p>
            </footer>
            <div class="card-foreground">
              <div class="buttons-wrap">
                <a class="header-button" href="#search">
                  <figure class="header-icon">
                    <img class="img" src="images/icons/search.svg" alt="not found">
                  </figure>
                </a>
                <a class="header-button like-button" href="#like">
                  <figure class="header-icon">
                    <img class="img display-toggle" src="images/icons/heart.svg" alt="not found">
                    <img class="img display-toggle invisible" src="images/icons/heart-red.svg" alt="not found">
                  </figure>
                </a>
                <a class="header-button" href="#cart">
                  <figure class="header-icon">
                    <img class="img" src="images/icons/cart.svg" alt="not found">
                  </figure>
                </a>
              </div>
            </div>
            <div class="card-overlay"></div>
          </div>
        </div>
        <div class="col col-12 col-6s col-3m">
          <div class="card card-collections">
            <header class="card-header">
              <figure class="card-media col-6">
                <div class="img-wrap ratio-8-9">
                  <div class="img-content">
                    <img class="img img-down" src="images/collection/7.png" alt="not found">
                  </div>
                </div>
              </figure>
            </header>
            <main class="card-body">
              <h2 class="card-title">
                Corona Chair
              </h2>
              <p class="card-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </main>
            <footer class="card-footer">
              <p class="card-price">&#36;14.86</p>
            </footer>
            <div class="card-foreground">
              <div class="buttons-wrap">
                <a class="header-button" href="#search">
                  <figure class="header-icon">
                    <img class="img" src="images/icons/search.svg" alt="not found">
                  </figure>
                </a>
                <a class="header-button like-button" href="#like">
                  <figure class="header-icon">
                    <img class="img display-toggle" src="images/icons/heart.svg" alt="not found">
                    <img class="img display-toggle invisible" src="images/icons/heart-red.svg" alt="not found">
                  </figure>
                </a>
                <a class="header-button" href="#cart">
                  <figure class="header-icon">
                    <img class="img" src="images/icons/cart.svg" alt="not found">
                  </figure>
                </a>
              </div>
            </div>
            <div class="card-overlay"></div>
            //= corner-label.html
          </div>
        </div>
        <div class="col col-12 col-6s col-3m">
          <div class="card card-collections">
            <header class="card-header">
              <figure class="card-media col-6">
                <div class="img-wrap ratio-8-9">
                  <div class="img-content">
                    <img class="img img-down" src="images/collection/8.png" alt="not found">
                  </div>
                </div>
              </figure>
            </header>
            <main class="card-body">
              <h2 class="card-title">
                Corona Chair
              </h2>
              <p class="card-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </main>
            <footer class="card-footer">
              <p class="card-price">&#36;14.86</p>
            </footer>
            <div class="card-foreground">
              <div class="buttons-wrap">
                <a class="header-button" href="#search">
                  <figure class="header-icon">
                    <img class="img" src="images/icons/search.svg" alt="not found">
                  </figure>
                </a>
                <a class="header-button like-button" href="#like">
                  <figure class="header-icon">
                    <img class="img display-toggle" src="images/icons/heart.svg" alt="not found">
                    <img class="img display-toggle invisible" src="images/icons/heart-red.svg" alt="not found">
                  </figure>
                </a>
                <a class="header-button" href="#cart">
                  <figure class="header-icon">
                    <img class="img" src="images/icons/cart.svg" alt="not found">
                  </figure>
                </a>
              </div>
            </div>
            <div class="card-overlay"></div>
          </div>
        </div>

      </div>

    </main>
  </div>
</section>