<section class="section section-reverse section-designers">
  <div class="container">
    <header class="section-header">
      <h2 class="section-title">Our designers</h2>
      <div class="section-title-border">
        <hr class="section-hr section-hr-reverse">
        <div class="section-square">&#9670;</div>
        <hr class="section-hr section-hr-reverse">
      </div>
    </header>
    <main class="section-body">
      <div class="grid">
        <div class="col col-12 col-6s col-4m">
          <div class="card card-designers">
            <header class="card-header">
              <figure class="card-media">
                <div class="img-wrap ratio-6-7">
                  <div class="img-content">
                    <img class="img img-down" src="images/designers/1.jpg" alt="not found">
                  </div>
                </div>
              </figure>
            </header>
            <main class="card-body">
              <h2 class="card-title">
                Bertil Stam
              </h2>
            </main>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m">
          <div class="card card-designers">
            <header class="card-header">
              <figure class="card-media">
                <div class="img-wrap ratio-6-7">
                  <div class="img-content">
                    <img class="img img-down" src="images/designers/2.jpg" alt="not found">
                  </div>
                </div>
              </figure>
            </header>
            <main class="card-body">
              <h2 class="card-title">
                Janet Park
              </h2>
            </main>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m">
            <div class="card card-designers">
              <header class="card-header">
                <figure class="card-media">
                  <div class="img-wrap ratio-6-7">
                    <div class="img-content">
                      <img class="img img-down" src="images/designers/3.jpg" alt="not found">
                    </div>
                  </div>
                </figure>
              </header>
              <main class="card-body">
                <h2 class="card-title">
                  Wm Munoz
                </h2>
              </main>
            </div>
          </div>

      </div>

    </main>
  </div>
  <figure class="hero-background">
    <img class="img" src="images/designers/bg.jpg" alt="Not found">
  </figure>
  <div class="section-overlay"></div>
</section>