<section id="section-1" class="section section-features section-reverse section-top">
  <div class="container">
    <header class="section-header">
      <h2 class="section-title">
        Why choose us
      </h2>
      <div class="section-title-border">
        <hr class="section-hr section-hr-reverse">
        <div class="section-square">&#9670;</div>
        <hr class="section-hr section-hr-reverse">
      </div>
    </header>
    <main class="section-body">
      <div class="grid">
        <div class="col col-12 col-4l section-left">
          <div class="card card-features col-12 col-6s col-12l">
            <div class="card-header col-3 col-4s col-3m">
              <figure class="card-media">
                  <div class="img-wrap ratio-3-4">
                    <div class="img-content">
                      <img class="img" src="images/icons/feather.svg" alt="not found">
                    </div>
                  </div>
              </figure>
            </div>
            <div class="card-body-wrap col-9 col-12s col-9m">
              <div class="card-body">
                <h2 class="card-title font-secondary">
                  Modern Design
                </h2>
                <p class="card-description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
            </div>
          </div>

          <div class="card card-features col-12 col-6s col-12l">
              <div class="card-header col-3 col-4s col-3m">
                <figure class="card-media">
                    <div class="img-wrap ratio-3-4">
                      <div class="img-content">
                        <img class="img" src="images/icons/quality.svg" alt="not found">
                      </div>
                    </div>
                </figure>
              </div>
              <div class="card-body-wrap col-9 col-12s col-9m">
                <div class="card-body">
                  <h2 class="card-title font-secondary">
                    Unique quality
                  </h2>
                  <p class="card-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                  </p>
                </div>
              </div>
            </div>
        </div>

        <div class="col col-12 col-4l section-centre">
          <figure class="section-media">
            <div class="img-wrap ratio-6-5">
              <div class="img-content">
                <img class="img" src="images/features/1.png" alt="not found">
              </div>
            </div>
          </figure>
        </div>

        <div class="col col-12 col-4l section-right">
          <div class="card card-features col-12 col-6s col-12l">
            <div class="card-header col-3 col-4s col-3m">
              <figure class="card-media">
                  <div class="img-wrap ratio-3-4">
                    <div class="img-content">
                      <img class="img" src="images/icons/money.svg" alt="not found">
                    </div>
                  </div>
              </figure>
            </div>
            <div class="card-body-wrap col-9 col-12s col-9m">
              <div class="card-body">
                <h2 class="card-title font-secondary">
                  Honest prices
                </h2>
                <p class="card-description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                </p>
              </div>
            </div>
          </div>

          <div class="card card-features col-12 col-6s col-12l">
            <div class="card-header col-3 col-4s col-3m">
              <figure class="card-media">
                  <div class="img-wrap ratio-3-4">
                    <div class="img-content">
                      <img class="img" src="images/icons/mobile.svg" alt="not found">
                    </div>
                  </div>
              </figure>
            </div>
            <div class="card-body-wrap col-9 col-12s col-9m">
              <div class="card-body">
                <h2 class="card-title font-secondary">
                  Great support
                </h2>
                <p class="card-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque dolorem sed tenetur!
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>

    </main>
  </div>
</section>