<section class="section section-features section-bottom">
  <main class="section-body">
    <main class="grid">
      <div class="col-top col col-12 col-6m">     
        <div class="grid">
          <div class="col-left col col-6">
            <div class="card card-features-bottom">
              <figure class="card-background">
                <div class="img-wrap ratio-2-3">
                  <div class="img-content">
                    <img class="img img-down" src="images/features/2.png" alt="not found">
                  </div>
                </div>
              </figure>
              <div class="card-cover">
                <h2 class="card-title color-green">
                  Patio furniture vietnam
                </h2>
                <a class="card-description color-green" href="#viewdetail">
                  View detail <span class="arrow">&#8594;</span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-right col col-6">
            <div class="card card-features-bottom">
              <figure class="card-background">
                <div class="img-wrap ratio-4-3">
                  <div class="img-content">
                    <img class="img" src="images/features/4.png" alt="not found">
                  </div>
                </div>
              </figure>
            </div>
            <div class="card card-features-bottom">
              <figure class="card-background">
                <div class="img-wrap ratio-4-3">
                  <div class="img-content">
                    <img class="img img-left" src="images/features/6.png" alt="not found">
                  </div>
                </div>
              </figure>
              <div class="card-cover">
                <h2 class="card-title">
                  Ceramics WM Munoz
                </h2>
                <a class="card-description" href="#viewdetail">
                  View detail <span class="arrow">&#8594;</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-bottom col-reverse-vert col col-12 col-6m">
        <div class="grid">
          <div class="col-top col-reverse-horiz col col-12">
            <div class="grid">
              <div class="col col-left col-6">
                <div class="card card-features-bottom">
                  <figure class="card-background">
                    <div class="img-wrap ratio-4-3">
                      <div class="img-content">
                        <img class="img" src="images/features/3.png" alt="not found">
                      </div>
                    </div>
                  </figure>
                </div>
              </div>
              <div class="col col-right col-6">
                <div class="card card-features-bottom">
                  <figure class="card-background">
                    <div class="img-wrap ratio-4-3">
                      <div class="img-content">
                        <img class="img img-right" src="images/features/6.png" alt="not found">
                      </div>
                    </div>
                  </figure>
                </div>
              </div>
            </div>
          </div>
          <div class="col-bottom col col-12">
            <div class="card card-features-bottom">
              <figure class="card-background">
                <div class="img-wrap ratio-8-3">
                  <div class="img-content">
                    <img class="img" src="images/features/5.png" alt="not found">
                  </div>
                </div>
              </figure>
              <div class="card-cover">
                <h2 class="card-title color-blue">
                  Design by Jarnet Park Trend 2017
                </h2>
                <a class="card-description color-blue" href="#viewdetail">
                  View detail <span class="arrow">&#8594;</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </main>
</section>