<section class="hero">

    <div class="swiper-container swiper-hero">
      <!-- Add Arrows
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      -->
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="hero-wrap">
            <div class="container">
              <div class="hero-layout">
                <div class="hero-textarea">
                  <p class="hero-description">
                    Welcome to <span class="logo-style">pahu design</span>
                  </p>
                  <h1 class="hero-title">You are in good hands with us</h1>
                </div>
              </div>
            </div>
            <figure class="hero-background">
              <img class="img" src="images/hero/hero1.jpg" alt="Not found">
            </figure>
            <div class="hero-overlay"></div>
            <figure class="hero-overlay-pic">
              <img class="img" src="images/hero/overlay.png" alt="Not found">
            </figure>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="hero-wrap">
            <div class="container">
              <div class="hero-layout">
                <div class="hero-textarea">
                  <p class="hero-description">
                    You are at <span class="logo-style">pahu design</span>
                  </p>
                  <h1 class="hero-title">Your design assistant number one</h1>
                </div>
              </div>
            </div>
            <figure class="hero-background">
              <img class="img" src="images/hero/hero2.jpg" alt="Not found">
            </figure>
            <div class="hero-overlay"></div>
            <figure class="hero-overlay-pic">
              <img class="img" src="images/hero/overlay.png" alt="Not found">
            </figure>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="hero-wrap">
            <div class="container">
              <div class="hero-layout">
                <div class="hero-textarea">
                  <p class="hero-description">
                    Here for you: <span class="logo-style">pahu design</span>
                  </p>
                  <h1 class="hero-title">Hussle free, fair costs, your choice</h1>
                </div>
              </div>
            </div>
            <figure class="hero-background">
              <img class="img" src="images/hero/hero3.jpg" alt="Not found">
            </figure>
            <div class="hero-overlay"></div>
            <figure class="hero-overlay-pic">
              <img class="img" src="images/hero/overlay.png" alt="Not found">
            </figure>
          </div>
        </div>

      </div>
    </div>

</section>
