<section id="section-3" class="section section-projects">
  <header class="section-header">
    <h2 class="section-title">Our projects</h2>
    <div class="section-title-border">
      <hr class="section-hr">
      <div class="section-square">&#9670;</div>
      <hr class="section-hr">
    </div>
  </header>
  <main class="section-body">
    <div class="swiper-container swiper-projects">
      <!-- Add Arrows
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      -->
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#projectpage">
            <div class="card card-projects">
              <div class="card-background">
                <figure class="card-media">
                  <div class="img-wrap ratio-2-5">
                    <div class="img-content">
                      <img class="img img-down" src="images/projects/1.jpg" alt="not found">
                    </div>
                  </div>
                </figure>
              </div>
              <div class="card-cover">
                <h2 class="card-title card-title-reverse">
                  Modern Living Room
                </h2>
                <div class="card-cover-label">
                  <p class="card-description">
                    Interior design
                  </p>
                </div>
              </div>
              <div class="card-overlay"></div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#projectpage">
            <div class="card card-projects">
              <div class="card-background">
                <figure class="card-media">
                  <div class="img-wrap ratio-2-5">
                    <div class="img-content">
                      <img class="img img-down" src="images/projects/2.jpg" alt="not found">
                    </div>
                  </div>
                </figure>
              </div>
              <div class="card-cover">
                <h2 class="card-title card-title-reverse">
                  Casual apartment
                </h2>
                <div class="card-cover-label">
                  <p class="card-description">
                    Apartment design
                  </p>
                </div>
              </div>
              <div class="card-overlay"></div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#projectpage">
            <div class="card card-projects">
              <div class="card-background">
                <figure class="card-media">
                  <div class="img-wrap ratio-2-5">
                    <div class="img-content">
                      <img class="img img-down" src="images/projects/3.jpg" alt="not found">
                    </div>
                  </div>
                </figure>
              </div>
              <div class="card-cover">
                <h2 class="card-title card-title-reverse">
                  Apartment cosy
                </h2>
                <div class="card-cover-label">
                  <p class="card-description">
                    Cose choices
                  </p>
                </div>
              </div>
              <div class="card-overlay"></div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#projectpage">
            <div class="card card-projects">
              <div class="card-background">
                <figure class="card-media">
                  <div class="img-wrap ratio-2-5">
                    <div class="img-content">
                      <img class="img img-down" src="images/projects/4.jpg" alt="not found">
                    </div>
                  </div>
                </figure>
              </div>
              <div class="card-cover">
                <h2 class="card-title card-title-reverse">
                  Bedroom for relax
                </h2>
                <div class="card-cover-label">
                  <p class="card-description">
                    relaxation design
                  </p>
                </div>
              </div>
              <div class="card-overlay"></div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#projectpage">
            <div class="card card-projects">
              <div class="card-background">
                <figure class="card-media">
                  <div class="img-wrap ratio-2-5">
                    <div class="img-content">
                      <img class="img img-down" src="images/projects/2.jpg" alt="not found">
                    </div>
                  </div>
                </figure>
              </div>
              <div class="card-cover">
                <h2 class="card-title card-title-reverse">
                  Bathroom style
                </h2>
                <div class="card-cover-label">
                  <p class="card-description">
                    Interior design
                  </p>
                </div>
              </div>
              <div class="card-overlay"></div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#projectpage">
            <div class="card card-projects">
              <div class="card-background">
                <figure class="card-media">
                  <div class="img-wrap ratio-2-5">
                    <div class="img-content">
                      <img class="img img-down" src="images/projects/3.jpg" alt="not found">
                    </div>
                  </div>
                </figure>
              </div>
              <div class="card-cover">
                <h2 class="card-title card-title-reverse">
                  Modern Living Room
                </h2>
                <div class="card-cover-label">
                  <p class="card-description">
                    Styling interiors
                  </p>
                </div>
              </div>
              <div class="card-overlay"></div>
            </div>
          </a>
        </div>
        

      </div>
    </div>
  </main>
</section>